{% if site.data.profile.education_experience %}
<div class="my-3 bg-white shadow-sm rounded-sm">
    <h5 class="p-3 mb-0 border-bottom border-gray">Education & Experience</h5>
    <div class="px-3 pb-1">
        <div class="mx-2 my-1">
            <ul class="list-unstyled mb-1">
                {% for item in site.data.profile.education_experience %}
                <li class="media mb-2">
                    <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 20px;" class="mr-2 mt-1">
                    <div class="media-body">
                        <div class="font-weight-bold">{{ item.name }}</div>
                        {% if item.dept %}
                        <div class="text-muted" style="font-size: 0.95rem;">{{ item.dept }}</div>
                        {% endif %}
                        <div class="d-flex text-muted" style="font-size: 0.95rem;">
                            <div>{{ item.position }}</div>
                            <div class="ml-auto no-break"><em>{{ item.date }}</em></div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}

{% if site.data.profile.awards %}
<div class="my-3 bg-white shadow-sm rounded-sm">
    <h5 class="p-3 mb-0 border-bottom border-gray">Honors & Awards</h5>
    <div class="px-3 pb-1">
        <div class="mx-2 my-1">
            <ul class="list pl-3 mb-1">
                {% for item in site.data.profile.awards %}
                <li class="mb-1">
                    <div class="d-flex">
                        <div>{{ item.name }}</div>
                        <div class="ml-auto text-muted" style="font-size: 0.95rem;"><em>{{ item.date }}</em></div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}
